/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

/* =Base Typography
-------------------------------------------------------------- */

body, select, input, textarea {
  background: #eeeeef;
  font-family: "proxima-nova", sans-serif ;
  color: #555;
}


h1,h2,h3,h4,h5,h6 {
  font-weight: 100;
}



/* =Links
-------------------------------------------------------------- */

a, a:active, a:visited {
  color: rgb(119, 119, 119);
}

a:hover {
  color: rgb(85, 85, 85);
}


/* =The Site Header
-------------------------------------------------------------- */

#site-header {
  background: #eeeeef;
  color: #555;
  border-top: #ff1609 3px solid;
     -moz-box-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  
  background-image: url("images/hr.png");
  background-repeat: no-repeat;
  background-position: bottom;   	
}

#site-header a, #site-header a:active, #site-header a:visited {
}

#site-header a:hover {
}


/* =Logo
-------------------------------------------------------------- */

/* NOTE: Adjust the #site-title font size in the link
 * (not in the #site-title itself) using the em unit,
 * as to not break it scaling via media queries. */

#site-title {
  font-family: inherit;
  font-weight: 200;
}

#site-title a:link,
#site-title a:visited {
  color: rgb(119, 119, 119);
  text-shadow: none;
}

#site-title a:hover {
  color: rgb(119, 119, 119);
}


/* =Mobile Navigation Button
-------------------------------------------------------------- */

/* NOTE: Override the Mobile Navigation Button with caution.
 * The Helvetica stack produces a good icon. */

a#nav-bttn:link,
a#nav-bttn:visited {
/*  color: #bf00bf;*/
/*  background: #ffbfff;*/
/*  font-family: "Helvetica Neue", Arial, Helvetica, serif;*/
}

a#nav-bttn:hover {
/*  color: #ffbfff;*/
/*  background: #fff;*/
}


/* =Navigation Menu
-------------------------------------------------------------- */

#access {
  margin-top: 15px;
}

#access li {
/*  border-bottom: 2px solid #994c99;*/
}

#access a {
  background: none;
  padding: 0 15px;
  
  color: rgb(119, 119, 119);
	text-shadow: none;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#access a:visited, #access a:active, #access a:link {
  color: rgb(85, 85, 85);
}

#access a:hover {
  color: rgb(85, 85, 85);
  text-decoration: none;
  box-shadow: none;
  background: none;
}


/* XXX: need some way to know where we are */
/*#access a:visited, #access a:active, #access a:link {
  color: #555;
  font-weight: bold; 
  background: url("images/nav-pin.png") center no-repeat transparent;
  margin-bottom: 2px;
}*/


/* =The Big Button to Add A New Point
-------------------------------------------------------------- */

a.add-place {
  background-color: #ff1609;
/*  color: #eee;*/
/*  text-shadow: none;*/
}

a.add-place:hover {
/*  background-color: #e500e5;*/
/*  color: #fff;*/
}


/* =Close Content Button
-------------------------------------------------------------- */

/* NOTE: Override the Close Button font within the span. The link should
 * remain the Helvetica stack, as it produces a good X close icon. */

a.close-bttn {
/*  color: #ff40ff;*/
/*  background-color: #fff;*/
/*  border-color: #ffbfff;*/
/*  font-family: "Helvetica Neue", Arial, Helvetica, serif;*/
}

a.close-bttn:hover {
/*  color: #e500e5;*/
/*  background-color: #fff;*/
/*  border-color: #e500e5;*/
}
a.close-bttn span {
  /*  font-family: Impact, sans-serif;*/
}


/* =Forms
-------------------------------------------------------------- */

label {
/*  color: #806080;*/
}

input[type=text],
textarea {
/*  border: 1px solid #000; */
}

.required {
/*  color: red;*/
}

.bttn {
/*  color: #eee;*/
/*  background-color: #ff40ff;*/
/*  text-shadow: none;*/
}

.bttn:hover {
/*  color: #fff;*/
/*  background-color: #e500e5;*/
}

a.reply-link {
/*  color: #1e5395;*/
/*  background: #eef8fd;*/
}

a.reply-link:hover {
/*  color: #fff;*/
/*  background-color: #e500e5;*/
}


/* =Voting & Social Promotion
-------------------------------------------------------------- */
.promotion {
/*  background-color: #bf8fbf;*/
}

#user_support label {
/*  color: #ff80ff;*/
/*  background-color: #fff;*/
}

#user_support:hover label,
#user_support label:hover {
/*  color: #e500e5;*/
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background: transparent;
}

ul.recent-points {
  color: inherit;
}

.recent-points li {
  border-bottom: 1px solid #aaa;
}

.recent-points li:hover {
  background: transparent;
}

.recent-points a {
  color: rgb(119, 119, 119);
}

.recent-points li:hover a,
.recent-points a:hover {
  color: rgb(85, 85, 85);
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 768px) { /* menu is visible */
  #access {
/*    border: 0;*/
/*    background: transparent;*/
  }
}

@media only screen and (min-width: 1024px) { /* ticker is visible */
}

@media only screen and (min-width: 1300px) {
}


/** HIDE THE FEEDBACK TAB **/
#zenbox_tab {
  display: none !important;
}